/* img{
    opacity: 0;
   } */
   header img{
    opacity: 1;
   }
    *, ::after, ::before{
        scroll-behavior: smooth;
    }
.error{
    border: 2px solid #7C1152;

}
.active{
    background-color: #FF9D00;
    padding: 10px 15px;
    border-radius:7px;
    
   
   }
   .name-entreprise{
    color:#333;
    text-transform: uppercase;
   }
   