/* img{
    opacity: 0;
   } */
.error{
    border: 2px solid #7C1152;

}
.active{
    background-color: #FF9D00;
    padding: 10px 15px;
    border-radius:7px;
    
   
   }
   .name-entreprise{
    color:#333;
    text-transform: uppercase;
   }
   img:hover{
    transform:rotateY(180deg);
    transition: .5s ease-in;
    cursor: pointer;
}